body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

button {
    padding: 15px 30px;
    margin: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: orangered;
    border: none;
    transform: scale(1.05); /* Add scale effect on hover */
}

a {
    text-decoration: none;
}
